streamlit
openai
langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-core
chromadb==0.4.22
pypdf
python-dotenv
requests
duckduckgo-search
wikipedia
protobuf==3.20.3
pydantic==1.10.13