streamlit
openai
langchain==0.1.9
langchain-openai==0.0.8
langchain-community==0.0.24
langchain-text-splitters==0.0.1
langchain-core==0.1.27
chromadb==0.4.22
pypdf
python-dotenv
requests
duckduckgo-search
wikipedia
protobuf==3.20.3
pydantic==1.10.13